/* 
Website Colors:
------------------------
#00568c
#008e66
#ffffff
#3d3d3d

*/

/* Header Section */

body{
    padding: 0;
    margin: 0;
    border: 0;
}

header {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    background: linear-gradient(135deg, #00568c, #008e66);
    width: 100%;
}

header h1 {
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
}

nav {
    display: flex;
}

.navbar-brand, .navlink {
    color: #fff !important;
}


ul li{
    list-style: none;     
}





/* End of Header Section */


.hero {
    display: flex;
    margin-top: 82px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-image: url(images/coding.jpg);
    height: 300px;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;

}




