/* 
Website Colors:
------------------------
#00568c
#008e66
#ffffff
#3d3d3d

*/

/* Header Section */

body{
    padding: 0;
    margin: 0;
    border: 0;
}

header {
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    background: linear-gradient(135deg, #00568c, #008e66);
    width: 100%;
    opacity: .95;
}

header h1 {
    font-size: 25px;
    font-weight: bold;
}

nav li a {
    color: #fff;
    text-decoration: none;
    float: right;
    margin-right: 15px;
    font-size: 10px;
}


ul li{
    list-style: none; 
}





/* End of Header Section */

/* Hero Section */
.hero {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-image: url(images/coding.jpg);
    height: 350px;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;

}

/* End of Hero Section */


/* Services Section */
.subHeader {
    text-align: center;
}

.subHeader h2 {
    font-size: 40px;
    color: #00568c;
}

.services {
    width: 100%;
    height: 245.19px;
    display: flex;
}

.serviceCard h3, .serviceCard2 h3, .serviceCard3 h3 {
    color: #00568c;
}

.serviceCard p, .serviceCard2 p, .serviceCard3 p {
    font-size: 15px;
}

.serviceCard {
    background-color: #fff;
    width: 350px;
    padding: 2rem;
    margin-left: 100px;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 0 5px 15px gray;
    transition: all 0.3s ease;
}

.serviceCard:hover, .serviceCard2:hover, .serviceCard3:hover {
    border-color: #008e66;
    transition: 0.6s ease;
}

.serviceCard2 {
    background-color: #fff;
    width: 350px;
    padding: 2rem;
    margin-left: 100px;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 0 5px 15px gray;
    transition: all 0.3s ease;
}

.serviceCard3 {
    background-color: #fff;
    width: 350px;
    padding: 2rem;
    justify-content: center;
    margin-left: 100px;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 0 5px 15px gray;
    transition: all 0.3s ease;
}

/* End of Services Section */


/* About Section */

.technoGrid {
    display: flex;
    width: 100%;
    height: 65.25px;
    gap: 1rem;
    margin-left: 30px;
}

.techno {
    color: #fff;
    background: linear-gradient(135deg, #00568c, #008e66);
    width: 332px;
    height: 58px;
    text-align: center;
    padding: 1rem;
    flex-direction: column;
    border-radius: 8px;
}

.techno:hover {
    color: #fff;
    background: linear-gradient(135deg, #00568c, #008e66);
    width: 345px;
    height: 65px;
    text-align: center;
    padding: 1rem;
    flex-direction: column;
    border-radius: 8px;
    transition: 1s ease;
}

/* End of About Section */


/* Demonstrations Section */

.demo {
    justify-content: center;
    text-align: center;
    margin-top: 25px;

}
.container{
  width: fit-content;
}

.box {
    height: 100px;
    width: 100px;
    background-color: #00568c;
    margin-left: 5px;
    border-radius: 10px;
}

.box:hover {
    border-radius: 50%;
    transform: rotate(45deg);
    transition: .6s ease;
    background-color: #008e66;
}

#visiText {
    display: flex;
    width: 85%;
    background-color: #008e66;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    justify-content: center;
    margin-left: 6.5%;
    margin-top: 10px;
    transition: all .5s ease;
    visibility: hidden;
    opacity: 0;
}


.boxModel {
    width: 85%;
    background-color: #008e66;
    border: 2px solid #00568c;
    color: #fff;
    padding: 10px;
    margin-left: 6.5%;
    text-align: center;
    justify-content: center;
    scale: 0.8px;
}

.boxModel:hover {
    width: 85%;
    background-color: #008e66;
    border: 5px solid #00568c;
    color: #fff;
    padding: 20px;
    margin: 20px;
    margin-left: 6.5%;
    text-align: center;
    justify-content: center;
    scale: 0.8px;
    transition: all .5s ease;
}


#selectors {
    background-color: rgb(235, 235, 235);
    width: 85%;
    margin-left: 6.5%;
    border-radius: 8px;
}

#contact {
    text-align: center;
}

footer{
    background-color: rgb(21, 21, 21);
    color: #fff;
    text-align: center;
    justify-content: center;
}

.nav {
    display: flex;
    width: 100%;
    margin-left: 30%;
}

footer nav a{
    text-decoration: none;
    color: white;
    text-align: center;
    justify-content: center;
    margin-left: 5%;
}

/* End of Demonstrations Section */